.item-booked {
  width: 1100px;
  margin: auto;
  border: 1px black solid;
  justify-content: center;
  height: 200px;
}
.item-booked .ant-card-body {
  padding: 15px;
<<<<<<< HEAD
}
.status-tag {
  font-size: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.title-booked {
  font-size: 25px;
}
.info-booked {
=======
}
.status-tag {
  font-size: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.title-booked {
  font-size: 25px;
}

.item-booked-title {
  font-size: 25px;
}
.item-booked-info {
>>>>>>> 33d942fee9f5c9bb131300a3a55d7d08124c3a38
  display: flex;
  justify-content: center;
}
.detail-booked {
  width: 700px;
}
.status-booked {
  display: flex;
  margin-left: 50px;
}
.title-booked {
  font-size: 30px;
}

.listWeek {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listWeekCalendar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 15px;
  padding-bottom: 1opx;
<<<<<<< HEAD
=======
  padding-bottom: 10px;
>>>>>>> 33d942fee9f5c9bb131300a3a55d7d08124c3a38
}

.edit-modal-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.button {
  margin-right: 30px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ff0000;
<<<<<<< HEAD
}

.search {
  margin-bottom: 10px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ff0000;
}

.antd-modal-body {
  border: 1px solid #d6e4ec;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.btn {
  margin-right: 30px;
}

.space {
  width: 100%;
  justify-content: center;
  column-gap: 5%;
}

.container-show-list-title {
  margin-bottom: 10px;
  margin-top: -25px;
}

.container-show-list-content {
  margin-bottom: 10px;
}

.container-show-list-title {
  margin: 0;
}

.container-show-listitem {
  margin: 10px 0px 0px 125px;
}

.container-show-listitem span {
  padding-right: 30px;
}

.container-show-time {
  padding-bottom: 10px;
}

.container-show-time-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-container-item {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  margin-top: 10px;
}
.title-modal {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.modal-container-title {
  display: inline;
  margin-bottom: 20px;
  display: flex;
}

.modal-title-div {
  font-weight: bold;
  color: #777;
  display: flex;
}

.btn-right {
  margin-right: 10px;
=======
>>>>>>> 33d942fee9f5c9bb131300a3a55d7d08124c3a38
}

.btn-action:first-child {
  background-color: "#ff9999";
}

.button-action:first-child {
  background-color: "#ff9999";
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ff0000;
}



