.item-booked {
  width: 1100px;
  margin: auto;
  border: 1px black solid;
  justify-content: center;
  height: 200px;
}
.item-booked .ant-card-body {
  padding: 15px;
}
.status-tag {
  font-size: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.title-booked {
  font-size: 25px;
}

.item-booked-title {
  font-size: 25px;
}
.item-booked-info {
  display: flex;
  justify-content: center;
}
.detail-booked {
  width: 700px;
}
.status-booked {
  display: flex;
  margin-left: 50px;
}
.title-booked {
  font-size: 30px;
}

.item-booking-wait{
    height: 200px;
    border: 1px black solid;
    justify-content: center;
    width: 100%;

}
.item-booking-wait .ant-card-body{
    padding: 15px;
}
.info-booking-wait{
    display: flex;
    justify-content: center;
}
.detail-booking-wait{
    width: 900px;
}
.group-btn-action{
    display: flex;
    align-items: center;
}
.btn-action{
    display: flex;
    width: 100px;
    margin-left: 30px;
    justify-content: center;
    color: white;

}
<<<<<<< HEAD


=======
>>>>>>> 066d471 (WIBA-534 ui waiting booking list)
.title-booking-wait{
    font-size: 27px;
    justify-content: center;
    display: flex;
}
.list-user{
    margin-top: 10px;
}

.listWeek {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listWeekCalendar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 15px;
  padding-bottom: 1opx;
  padding-bottom: 10px;
}

.edit-modal-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.button {
  margin-right: 30px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ff0000;
}

.btn-action:first-child {
  background-color: "#ff9999";
}

.btn--view{
  background-color: #ff9999;
}
.btn--accept{
  background-color: #009900;
}
.btn--reject{
  background-color: #ff0000;
}


